[submodule "vendor/libquickjs/quickjs"]
	path = vendor/libquickjs/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libSDL2pp"]
	path = libSDL2pp
	url = git@github.com:learosema/libSDL2pp.git
