[submodule "vendor/libquickjs/quickjs"]
	path = vendor/libquickjs/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
